.custom-table-cell {
	text-align: start;
	white-space: nowrap;
	padding: 0 5px;

	&_status {
		padding: 0 15px;
	}

	&__bar {
		width: 100%;
	}

	&__progress {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	&__text {
		min-width: 35px;
		text-align: end;
	}
}