.custom-select {
	&__label {
		font-size: 14px;
	}

	&__dot {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		flex-shrink: 0;
	}

	&__text {
		flex: 1;
	}

	&__content {
		width: 100%;
	}

	&__left-section {
		font-size: 12px;
	}
}