.custom-form {
	width: 100%;
	padding: 30px;
	background-color: #fff;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border: 1px solid rgba(34, 60, 80, 0.08);
	border-radius: 5px;
	box-shadow: 4px 7px 8px 2px rgba(34, 60, 80, 0.08);
}