.popup {
	padding: 20px;
	border-radius: 10px;
	font-size: 11px;

	&__title {
		font-size: 14px;
		font-weight: 800;
		margin-bottom: 10px;
		white-space: nowrap;
	}

	&__list {
		padding-left: 20px;
		text-align: left;
	}

	&__item {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 7px;
			height: 7px;
			background-color: #3184ff;
			left: -20px;
			top: 4px;
			border-radius: 50vw;
		}
	}
}