.base-custom-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__logo {
		width: 32px;
		height: 32px;
	}

	&__info {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__controls {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__button {
		padding-right: 10px;
	}
}