.custom-button {
	display: flex;
	align-items: center;
	font-size: 16px;
	background-color: #3184ff;
	padding: 10px;
	color: white;
	border-radius: 5px;
	transition: 0.3s ease-in;

	&:hover {
		background-color: #276bcf;
		transition: 0.3s ease-in;
	}
}